<!-- Banner section -->
<!-- <div id="banner" class="banner">
    <div class="container" style="text-align:right">
        <h2 class="right-align banner-heading">Southern California Robotics Symposium</h2>
        <h4 class="right-align banner-subheading">Caltech, April 27, 2019</h4>
        <br />
        <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
        <br />
    </div>
    </div> -->
<div class="banner">
    <!-- <img src="{{ site.background-image | prepend: site.baseurl }}" alt="{{ site.copyright-image }}"> -->
    <div class="container" style="text-align:right">
        <h2 class="right-align banner-heading">Robotics Software Engineering {{site.year}}</h2>
        <h4 class="right-align banner-subheading">{{ site.venue }}</h4>
        <h4 class="right-align banner-subheading">{{ site.dates }}</h4>
        <!-- <div class="top-left">
            <span class="title1">Robotics</span><span class="title2">SoftwareEngineering</span> <span class="year">{{site.year}}</span>
        </div> -->
        <br />
        <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Apply Now</a>
        <br />
        <!-- <span class="bottom-right">
            {{site.venue}}<br>
            {{site.dates}}, {{site.year}} <br> 
        </span> -->
    <figcaption class="left-align">{{ site.copyright-image | markdownify }}</figcaption>
    </div>
    <!-- <div class="container" style="text-align:right">
    </div> -->
</div>