<footer class="page-footer">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About RSE</h5>
            For more information, see the <a class="light-blue-text text-lighten-2" href="{{ site.url }}">RSE page</a>.
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l5 offset-l1  s12">
            <h5 class="white-text">Previous editions</h5>
            <ul>
            {% for event in site.data.past_events %}
                <li><a class="light-blue-text text-lighten-2" href="{{site.url}}{{event.year}}/">RSE {{event.year}}</a> - {{event.location}}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; {{site.copyright}}
            <!-- <a class="grey-text text-lighten-4 right" href="{{ site.url }}">About RSE</a> -->
        </div>
    </div>
</footer>