<!-- Nav -->
<div class="navbar-fixed">
  <nav class="nav">
    <div class="nav-wrapper container">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}">About</a></li>
        <!-- <li><a href="#speakers">Speakers</a></li> -->
        <li><a href="{{ site.baseurl}}/program">Program</a></li>
        <li><a href="{{site.baseurl}}/venue">Venue</a></li>
        <li><a href="{{site.baseurl}}/travel-information">Travel Information</a></li>
        <!-- <li><a href="#organizers">Organizers</a></li> -->
        <!-- <li><a href="#sponsors">Sponsors</a></li> -->
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ site.baseurl }}">About</a></li>
  <!-- <li><a href="#speakers">Speakers</a></li> -->
  <li><a href="{{site.baseurl}}/program">Program</a></li>
  <li><a href="{{site.baseurl}}/venue">Venue</a></li>
  <li><a href="{{site.baseurl}}/travel-information">Travel Information</a></li>
  <!-- <li><a href="#organizers">Organizers</a></li> -->
  <!-- <li><a href="#sponsors">Sponsors</a></li> -->

</ul>