<!-- Schedule section -->

<!-- Overview -->
<div class="section scrollspy" id="schedule-overview">
  <h3 class="center-align">Overview</h3>
  <div class="divider"></div>

  {% assign days = site.data.program.program_rse24 | group_by:"day" %}
  <div class="row">
    {% for day in days %}
    <div class="col l3">
      <table class="schedule-overview">
        <caption>{{day.name}}</caption>
        {% assign day_sorted = day.items | sort:"start_time" %}
        {% assign groups = day_sorted | group_by:"session" %}
        {% for session in groups %}
        <tbody>
          <tr>
            <th><time>{{session.items[0].start_time}}</time></th>
            <td>
              {{ session.items[0].topic }}
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Full program -->
{% assign days = site.data.program.program_rse24 | group_by:"day" %}
<div class="section">
  <h3 class="center-align">Schedule (collapsible)</h3>
  <div class="divider"></div>
  <div class="row">
    {% for day in days %}
    <h4>{{day.name}}</h4>
    {% assign day_sorted = day.items | sort:"start_time" %}
    {% assign groups = day_sorted | group_by:"session" %}
    {% for session in groups %}
    <div class="session">

    <div class="col l2 time-slot"><time>{{session.items[0].start_time}}</time> - <time>{{session.items[-1].end_time}}</time>
    </div>
    {% assign session_size = session.items | size %}
    <div class="col l10">
    {% if session_size > 1 %}
      <ul class="collapsible expandable">
        <li class="active">
          <div class="collapsible-header">
            <p><h5>{{ session.items[0].topic }}</h5><br></p>
          </div>
          <!-- <div style="padding-left: 1rem; margin: 0px;"><p style="margin: 0px;"><i class="material-icons">timer</i> {{ session_size | times: 25}} min</p></div> -->
          <div class="collapsible-body">
            <table class="schedule">
              <tbody>
                {% for talk in session.items %}
                {% if {{talk.speaker }} %}
                <tr>
                  <th><time>{{talk.start_time}}</time></th>
                  <!-- <th><time>{{talk.end_time}}</time></th> -->
                  <td><b>{{ talk.speaker }}</b>
                    {%- if {{talk.bio}} -%}, {{ talk.bio }}{% endif -%}
                    {% if {{talk.affiliation}} %}, {{ talk.affiliation }}{% endif %}
                  </td>
                  <td>
                    <details open>
                      <summary><i>{{ talk.title }}</i></summary>
                      {% if {{talk.abstract }} %}<b>Abstract: </b>{{ talk.abstract }} {% endif %}
                    </details>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    {% else %}
      {% assign talk = session.items[0] %}
      <div class="session-details">
      <h5>{{ talk.topic }}</h5>
      <!-- <div><i class="material-icons">timer</i> {{talk.duration}}</div> -->
      {% case talk.topic %}
        {% when "Coffee Break" %}
        {% when "Lunch" %}
        {% when "Round Table Discussions" %}
        {% when "Keynote", "Welcome talk" %}
          <h6>{{ talk.speaker }}</h6>
            <p>{{ talk.bio }},<br>
            {{ talk.affiliation }}</p>
            <p style="text-align: justify;"><b>{{ talk.title }}</b><br>
            <span><b>Abstract</b>: {{ talk.abstract }}</span>
            </p>
        {% else %}
          {% if {{talk.abstract }} -%}
            <p>{{ talk.abstract }}</p>
          {% endif %}
      {% endcase %}
      </div>
    {% endif %}
    </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>


<div class="section scrollspy" id="schedule">
  <h3 class="center-align">Schedule (flat)</h3>


  {% for day in days %}
  <div class="divider"></div>
  <div class="row">
    <h4>{{day.name}}</h4>
    <div class="col s12 m12 l12">
      <table class="schedule">
        <tbody>
          {% assign day_sorted = day.items | sort:"start_time" %}
          {% assign groups = day_sorted | group_by:"session" %}
          {% for session in groups %}
          <tr>
            <th><time>{{session.items[0].start_time}}</time></th>
            <th><time>{{session.items[-1].end_time}}</time></th>
            <td>
              <h5>{{ session.items[0].topic }}</h5>
            </td>
          </tr>
          {% for talk in session.items %}
          {% if {{talk.speaker }} %}
          <tr>
            <th><time>{{talk.start_time}}</time></th>
            <th><time>{{talk.end_time}}</time></th>
            <td><b>{{ talk.speaker }}</b>
              {%- if {{talk.bio}} -%}, {{ talk.bio }}{% endif -%}
              {% if {{talk.affiliation}} %}, {{ talk.affiliation }}{% endif %}
            </td>
            <td>
              <details open>
                <summary><i>{{ talk.title }}</i></summary>
                {% if {{talk.abstract }} %}<b>Abstract: </b>{{ talk.abstract }} {% endif %}
              </details>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>
