<!-- Venue section -->
<div class="section scrollspy section-white-section" id="venue">
  <div class="container">
    <div class="row">
      <!--div class="col s12 m7 section-white-body">
        <div class="google-maps">
          <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div-->
      <div class="google-maps">
        <iframe src="{{site.map-embed}}" width="00" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col s12 section-white-body">
        <p>
          The meeting will be held in University of Southern Denmark.
        </p>
        <p>
          <a href="{{site.directions-link}}">Directions to University of Southern Denmark.</a>
        </p>
        <p>
          The closest station to the meeting room is <a href="https://maps.app.goo.gl/BMpKWidJpN2ShBgy9">Hospital Syd</a>.
        </p>
        <p>
          You can download a map of the university <a href="https://clients.mapsindoors.com/sdu/573f26e4bc1f571b08094312/details/d4f198450c77452f82d80eb2">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>