/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */


@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

// *{
//     border:0;
//     font:inherit;
//     font-size:1em;
//     margin:0;
//     padding:0;
//     // vertical-align:baseline;
// } 


body {
  background-color: #fff;
  // background-size: cover;
  // background-attachment: fixed;
//   color: #505050;
  text-align: left;
  font-family: 'Roboto', sans-serif;
//   font-size: 1em;
//   line-height: 1.5em;
  // margin: 60px auto;
  // width: 1000px;
  // padding: 50px;
}

// a {
//   color: #b8860b;
//   text-decoration: none;
// }

// a.current {
//   color: #52739e;
// }

// a.current:hover {
//   color: #e82945;
// }

// a:hover {
//   color: #b2132e;
// }

// a:active {
//   color: #e82945;
// }

h1,
h2,
h3,
h4 {
  clear: left;
  color: #00326d;
  margin: 1.5em 0em 1em 0em;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding: 0px;
//   text-shadow: 1px 1px 2px #d0d0d0;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.75em !important;
}

h3 {
  font-size: 1.5em !important;
}

h4 {
  font-size: 1.25em !important;
}

h5 {
  font-size: 1em !important;
}

h6{
  font-size: 0.85em !important;
}
// p {
//   list-style: none;
//   margin: 24px auto 24px auto;
//   padding: 0px;
//   // width: 900px;
//   text-align: left;
// }

// li a,
// p a {
//   text-decoration: underline;
//   text-decoration-color: #b8860b;
// }

// ul {
//   list-style: none;
//   margin: 24px auto 24px auto;
//   padding: 0px;
//   width: 800px;
//   text-align: left;
// }

// ul li {
//   list-style: none;
//   margin: 0px auto 0px auto;
//   padding: 0px;
//   text-align: left;
// }

// i,
// em {
//   font-style: italic;
// }

// b,
// strong {
//   font-weight: bold !important;
// }

// sup {
//   vertical-align: super;
//   font-size: 0.8em;
//   line-height: 0;
// }

// sub {
//   vertical-align: sub;
//   font-size: 0.8em;
//   line-height: 0;
// }

// table {
//   width: 1000px;
//   margin: 12px auto 24px auto;
//   float: center;
//   /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
//   /*border: 1px solid black;*/
// }

// th,
// td {
//   text-align: left;
//   /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
//   /*border: 1px solid black;*/
// }

// /* Website Banner */
.banner {
  position: relative;
  font-family: 'Roboto Slab', serif;
}

.top-left {
  font-size: 5.33em;
  color: #505050;
  // background: #fafafa;
  text-align: center;
  // width: 1000px;
  height: 100px;
  position: absolute;
  padding: 36px 0 0 0;
  top: -30px;
  left: 20px;
}

.bottom-right {
  font-size: 2.33em;
  color: #fafafa;
  line-height: 1.5em;
  // width: auto;
  height: 100px;
  padding: 0px 27px 27px 0px;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 20px;
  text-shadow: 0px 0px 6px #000000;
}

/* Conference Title Logo */
.title1 {
  color: #b2132e;
  // color: #fafafa;
  font-size: 0.70em;
  // text-shadow: 1px 1px 3px #fff;
  text-shadow: -1px 1px 2px #fff,
                1px 1px 2px #fff,
                1px -1px 2px #fff,
                -1px -1px 2px #fff;
}

.title2 {
  color: #52739e;
  // color: #fafafa;
  font-size: 0.70em;
  // text-shadow: 1px 1px 3px #fff;
  text-shadow: -1px 1px 2px #fff,
                1px 1px 2px #fff,
                1px -1px 2px #fff,
                -1px -1px 2px #fff;
}

.year {
  color: #505050;
  // color: #fafafa;
  font-size: 0.57em;
  font-weight: lighter;
  text-shadow: -1px 1px 2px #fff,
                1px 1px 2px #fff,
                1px -1px 2px #fff,
                -1px -1px 2px #fff;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: white;
}

// /* Navigation Links (Home, Registration, etc) */
// table.navigation {
//   width: 800px;
// }

// td.navigation {
//   font-size: 1.67em;
//   white-space: nowrap;
//   width: 20%;
//   text-align: center;
//   vertical-align: middle;
//   padding: 0px 0px 0px 0px;
// }

// /* Sponsor Images */
// table.sponsors {
//   width: 800px;
// }

// td.sponsor {
//   white-space: nowrap;
//   width: 33%;
//   text-align: center;
//   vertical-align: middle;
//   padding: 0px 0px 0px 0px;
// }

// td.sponsor img {
//   width: 100%
// }

// /* The Table on the Program Page */
// td.room {
//   padding: 4px 12px 4px 4px;
//   width: 90%;
//   vertical-align: bottom;
//   font-size: 1.67em;
//   color: #52739e;
//   height: 32px;
// }

// td.date {
//   white-space: nowrap;
//   width: 130px;
//   text-align: right;
//   vertical-align: top;
//   padding: 4px 16px 0px 0px;
// }

// td.title {
//   padding: 4px 12px 4px 4px;
//   width: 90%;
//   vertical-align: top;
//   font-size: 1.5em;
//   color: #813c54;
//   height: 32px;
//   font-family: 'Roboto Slab', serif;
//   text-shadow: 1px 1px 2px #d0d0d0;
// }

// td.title-special {
//   padding: 4px 12px 4px 4px;
//   width: 90%;
//   vertical-align: top;
//   font-size: 1.67em;
//   color: #52739e;
//   height: 32px;
//   font-family: 'Roboto Slab', serif;
//   text-shadow: 1px 1px 2px #d0d0d0;
// }

// td.speaker {
//   padding: 4px 12px 4px 4px;
//   font-style: italic;
//   font-size: 1em;
//   max-height: 999999px
// }

// td.abstract {
//   padding: 4px 12px 12px 4px;
//   font-size: 1em;
//   max-height: 999999px
// }

// td.abstract img {
//   display: block;
//   margin: 4px auto 8px auto
// }

// table.plenary {
//   padding-top: 8px;
//   background: #ffffff;
// }

// /* Registration and Directions iframes and Images */
// iframe.registration {
//   display: block;
//   margin: 1em auto 2em auto;
//   width: 700px;
//   height: 1400px;
//   border: none;
// }

// iframe.directions {
//   display: block;
//   margin: 1em auto 2em auto;
//   width: 800px;
//   height: 400px;
//   border: none;
// }

// img.center {
//   display: block;
//   width: 67%;
//   margin: 1em auto 2em auto;
// }

// /* Flyer Images */
// table.flyers {
//   width: 800px;
// }

// td.flyer {
//   white-space: nowrap;
//   width: 50%;
//   text-align: center;
//   vertical-align: middle;
//   padding: 0px 0px 0px 0px;
// }

// td.sponsor img {
//   width: 100%
// }

// footer {
//   font-size: 0.875em;
//   margin-top: 12em;
//   text-align: center;
// }

// /* My hacky way of making the site mobile-friendly */
// @media only screen and (max-width: 1100px) {
//   h2 {
//     font-size: 3.00em;
//   }

//   p {
//     font-size: 1.5em;
//     line-height: 1.5em;
//   }

//   th,
//   td,
//   tr {
//     font-size: 1.5em;
//     line-height: 1.5em;
//   }

//   td.date {
//     font-size: 1em;
//     padding-top: 0.5em;
//   }

//   td.navigation {
//     font-size: 1.5em;
//     padding: 0px 20px 0px 20px;
//   }

//   table.footer {
//     font-size: 0.33em;
//   }
// }


// New theme

.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}


#logos {
  position: relative;
  bottom: 0;
  left: 0%;
  width: 100%;
}

@media only screen and (min-width: 1400px) {
  #logos {
    left: 20%;
    width: 60%;
  }
}

#logos-cont {
  position: absolute;
  bottom: -5px;
  width: 100%;
  text-align: center;
}


#secondary-title-text {
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
}


.sponsor-row a {
  /*color: {{site.color.primary-dark}};*/
}

.section-gray-section {
  background-color: #ebeef2;
}

.section-gray-header {
  color: #00326d;
  font-weight: bold;
}

.section-gray-body {
  color: black;
  font-size: 17px;
}

.section-white-section {
  background-color: #ffffff;
}

.section-white-header {
  color: #00326d;
  font-weight: bold;
}

.section-white-body {
  color: black;
  font-size: 17px;
}

// .container .row {
//   margin: 24px auto 24px auto;
//   width: 900px;
// }

.card-title {
  color: #fff;
  white-space: nowrap;
}

#footer {
  margin-top: 0px;
  padding-top: 0px;
}

.carousel .carousel-item {
  width: 320px !important;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.schedule tbody td {
  width: 40%;
}

.schedule tbody th {
  color: #3c3c3c;
  width: 10%;
  padding-right: 5px;
}

.schedule h5 {
  color: #9d2246;
}

.session h5 {
  color: #3c3c3c;
}

.session-title{
  font-weight: bold !important;
  font-size: 1.25rem !important;
}

.speaker{
  font-weight: bold !important;
  font-size: 1rem !important;
}
.speaker-bio{
  margin-top: 0 !important;
}

.talk-title {
  font-style: italic;
}

.session {
  display: flex;
}

.session .time-slot {
  background-color: #00326d;
  color: #ebeef2;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 6px 6px 6px 0px;
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 24px 6px;
}

.time-slot p {
  padding: 5px;
}

.session-details {
  padding-top: 5px;
  padding-left: 1rem;
  margin: 6px 6px 6px 0px;
	border: 1px solid #ddd;
  background-color: #d5e3f3;
  color: #3c3c3c;
}

.schedule-overview tbody th {
  color: #a9b2b9;
  padding: 5px;
}
.schedule-overview tbody td {
  padding: 5px;
}

.important-dates caption,
.schedule-overview caption {
  font-size: 1.25rem;
  font-weight: bold !important;
  color: #00326d;
  padding: 5px;
}

.session div.col.l10 ul.collapsible.expandable,
.session .col .collapsible .expandable {
  box-shadow: unset;
  margin: 6px 6px 6px 0px;
  background-color: #d5e3f3;
  color: #3c3c3c;
}

.session div.col.l10 ul.collapsible.expandable li div.collapsible-header,
.session div.col.l10 ul.collapsible.expandable li.active div.collapsible-header {
  border-bottom: none;
  background-color: #d5e3f3;
  color: #3c3c3c;
  padding-top: 5px;
}

.session div.col.l10 ul.collapsible.expandable li {
  border-bottom: 1px solid #ddd;
}
// html body main div.container div.row div.col.s12.m12.l12 div.section div.row div.session div.col.l10 ul.collapsible.expandable li.active div.collapsible-body {
//   border-bottom: none;
// }

.session div.col.l10 ul.collapsible.expandable li.active div.collapsible-body {
  padding-top: 0.5rem;
}

.collapsible-header .material-icons {
  margin: 1.0933333333rem 0 .656rem 0;
}


.papers {}

.papers tbody th {
  color: #a9b2b9;
  /*padding-top: 40px;  */
  font-size: 14px;
  /*font-weight: 400;*/
  /*text-transform: uppercase;*/
  /*vertical-align: top;*/
  width: 20%;
  text-align: right;
  padding-right: 45px;
}

.papers tbody td {
  width: 80%;
}

.posters tbody td {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
}

blockquote p strong {
  font-weight: bold !important;
}

blockquote{
  border-left: 5px solid #9d2246 !important;
  font-size: 1.2em;
}

// b,
strong {
  font-weight: bold !important;
  color: #9d2246;
}